#calendar{
    width: 212px;
    font-size: 20px;
}
#title{
    padding-left: 65px;
    text-align: left;
}
#mark{
    background-color: black;
    color: white;
}
.is-disabled{
    text-align: right;
}
body{
    font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
}
td{
    margin: 2px 2px 2% 2px ;
    padding: 2px 2px 2px 2px ;
}