#calendar{
    width: 200px;
    font-size: 17px;
}
#title{
    padding-left: 50px;
    text-align: left;
}
#mark{
    background-color: black;
    color: white;
}
.is-disabled{
    text-align: right;
}
