body{
    text-align: center;
    background-color: rgb(13, 104, 13);
    font-size: 24px;
}
ul{
    text-align: left;
    padding-left: 2rem;
}
*{
    margin-right:0.5rem;
    margin-left: 0.5rem;
    color: white;
}
input{
    background-color: rgb(5, 200, 5);
    color: black;
}
button{
    background-color: black;
}
#taskCount{
    font-size: large;
}
#task{
    margin-left: 25rem;
    margin-right: 25rem;
    border-radius: 5px;
    border: solid;
    border-color: white;
}
#dialog{
    background-color: gray;
}